@import "@fontsource-variable/albert-sans";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

#content {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 2480px;
  height: 3508px;
}

#name {
  width: 2480px;
  font-family: "Albert Sans", sans-serif;
  font-size: 60px;
  color: #005179;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin-top: -2240px; /* height minus name field */
}

#bgr {
  background: linear-gradient(-45deg, #7ac8d9, #9be5bd, #23a6d5, #23d5ab);
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
}

.mat-mdc-form-field-infix {
  width: 100% !important;
}
